{% extends 'base.html.twig' %}

{% block title %}
    {{ author.firstName }} {{ author.lastName }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{ author.firstName }} {{ author.lastName }}</h2>
                <p>né le {{ author.birthDate | date('d-m-y') }}</p>
                {% if author.deathDate is not null %}
                    <p>mort le {{ author.deathDate | date('d-m-y') }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Livre par cet auteur</h4>
                {% for book in author.books %}
                    <a href="{{ path('admin_book_show', {'id' : book.id }) }}">{{ book.title }}</a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}